/* Common styling */
* {
    font-family: 'Courier New' ,'Times New Roman', Times, serif;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.title1 {
    font-size: 500%;
    font-weight: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.header1 {
    font-size: large;

}